{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}e-Pine{% endblock title %}</title>
{% include 'style.html' %}
{% block css %}{% endblock css %}
{% block extracss %}
{% endblock extracss %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center bg-dark">
    <!-- <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60"> -->
  </div>
  
  {% include 'navbar.html' %}

  <!-- Main Sidebar Container -->
  {% if request.user.is_staff %}
  {% include 'sidebar.html' %}
  {% endif %}

  <!-- Content Wrapper. Contains page content -->
  {% if request.user.is_staff %}
  <div class="content-wrapper">
    <div class="content-header">
  {% endif %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class=""><a href="#">&nbsp;</a></li>
              <li class=""> </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  {% block content %}
  
  {% endblock content %}
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% include 'script.html' %}
{% block script %}{% endblock script %}
{% block javascript %}
{% endblock javascript %}
{% block extrascripts %}
{% endblock extrascripts %}
</body>
</html>
